In [26]:
import pandas as pd
import numpy as np
# data = pd.read_csv('FoodPrice_in_Turkey.csv',
#                    header=0,encoding = 'ISO-8859-1')
df = pd.read_csv('C:\\Users\\hungu\\Jupyter baitap\\DATA\\DA - Datasets\\FoodPrice_in_Turkey.csv', header=0, encoding="ISO-8859-1")
df
print('*'*20, 'Nhập dữ liệu thành công', '*'*20)
display(df)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [5]:
print(df.shape)
# số hàng
print(df.shape[0])
# số cột
print(df.shape[1])

(7381, 8)
7381
8

In [6]:
df.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [30]:
# Đổi tên của cột
df.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên đơn vị', 'Tháng', 'Năm', 'Giá']
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

Đổi tên

In [16]:
# đổi tên chỉ 1 cột
df.rename(columns = {'Địa điểm':'Place'}, inplace = True)
df

,Place,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

Thêm Cột

In [55]:
df['Tên cột mới'] = 0
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Chiết khấu (%),Giá,Tên cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000,0
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,10,0.2,50.0000,0
2,National Average,52,Rice - Retail,5,KG,5,2013,50,0.2,4.4920,0
3,National Average,52,Rice - Retail,5,KG,6,2013,50,0.2,4.5786,0
4,National Average,52,Rice - Retail,5,KG,11,2013,50,0.2,4.7865,0
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,0.2,49.1176,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,0.2,50.8347,0
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,0.2,51.7985,0
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,0.2,51.6071,0
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000,0

In [54]:
# chèn cột sau cột
df.insert(8,'Chiết khấu (%)', 0.2)
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Chiết khấu (%),Giá
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,10,0.2,50.0000
2,National Average,52,Rice - Retail,5,KG,5,2013,50,0.2,4.4920
3,National Average,52,Rice - Retail,5,KG,6,2013,50,0.2,4.5786
4,National Average,52,Rice - Retail,5,KG,11,2013,50,0.2,4.7865
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,0.2,49.1176
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,0.2,50.8347
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,0.2,51.7985
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,0.2,51.6071
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000

In [34]:
df.insert(7,'Số lượng', 50)
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,0.2,0
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,0.2,0
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,0.2,0
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,0.2,0
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,0.2,0
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,0.2,0
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,0.2,0
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,0.2,0
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,0.2,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,0.2,0

In [35]:
df.rename(columns = {'Tên cột mới':'Tổng'}, inplace = True)
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,0.2,0
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,0.2,0
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,0.2,0
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,0.2,0
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,0.2,0
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,0.2,0
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,0.2,0
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,0.2,0
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,0.2,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,0.2,0

In [36]:
df['Tổng'] = df['Giá'] * df['Số lượng'] * (100-df['Chiết khấu (%)'])/100
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,0.2,224.15080
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,0.2,228.47214
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,0.2,238.84635
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,0.2,256.17163
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,0.2,274.94401
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,0.2,2390.40960
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,0.2,2450.96824
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,0.2,2536.65153
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,0.2,2584.74515
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,0.2,2575.19429

THÊM MỘT DÒNG VÀO CUỐI BẢNG df.loc[chỉ số của dòng]=[...]

In [38]:
df.loc[df.shape[0]] = ['Sài Gòn', 3000, 'Dưa hấu', 5, 'KG',10,10,2022,50.000,10,np.NaN]
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,0.2,224.15080
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,0.2,228.47214
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,0.2,238.84635
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,0.2,256.17163
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,0.2,274.94401
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,0.2,2450.96824
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,0.2,2536.65153
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,0.2,2584.74515
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,0.2,2575.19429
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10.0,NaN

THÊM VÀO ĐẦU BẢNG

In [42]:
# df.loc[-1] = ['Hà Nội', 3000, 'Dưa hấu', 5, 'KG',10,10,2022,50.000,10,np.NaN]
df.index = df.index +1
df = df.sort_index()
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10.0,NaN
1,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,0.2,224.15080
2,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,0.2,228.47214
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,0.2,238.84635
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,0.2,256.17163
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,0.2,2450.96824
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,0.2,2536.65153
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,0.2,2584.74515
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,0.2,2575.19429
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10.0,NaN

In [48]:
df.loc[-1] = df.loc[0]
df.loc[0] = ['Đà Nẵng', 3002, 'Mỳ Quảng', 5, 'Tô',10,2022,10,50.000,10,np.NaN]
df = df.sort_index()
df.index = df.index +1
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10.0,NaN
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,10,50.0000,10.0,NaN
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,0.2,224.15080
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,0.2,228.47214
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,0.2,238.84635
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,0.2,2450.96824
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,0.2,2536.65153
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,0.2,2584.74515
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,0.2,2575.19429
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10.0,NaN

XÓA CỘT del df['Tên cột'] hoặc df.pop('')

In [49]:
del df['Tổng']
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10.0
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,10,50.0000,10.0
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,0.2
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,0.2
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,0.2
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,0.2
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,0.2
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,0.2
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,0.2
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10.0

In [56]:
df.rename(columns = {'Tên cột mới':'Tổng'}, inplace = True)
df['Tổng'] = df['Giá'] * df['Số lượng'] * (100-df['Chiết khấu (%)'])/100
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Chiết khấu (%),Giá,Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000,100897.80000
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,10,0.2,50.0000,499.00000
2,National Average,52,Rice - Retail,5,KG,5,2013,50,0.2,4.4920,224.15080
3,National Average,52,Rice - Retail,5,KG,6,2013,50,0.2,4.5786,228.47214
4,National Average,52,Rice - Retail,5,KG,11,2013,50,0.2,4.7865,238.84635
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,0.2,49.1176,2450.96824
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,0.2,50.8347,2536.65153
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,0.2,51.7985,2584.74515
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,0.2,51.6071,2575.19429
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000,100897.80000

In [57]:
data = df
data1 = data.pop('Tổng')
print(data1)

0       100897.80000
1          499.00000
2          224.15080
3          228.47214
4          238.84635
            ...
7379      2450.96824
7380      2536.65153
7381      2584.74515
7382      2575.19429
7383    100897.80000
Name: Tổng, Length: 7384, dtype: float64

In [62]:
df

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Chiết khấu (%),Giá
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,10,0.2,50.0000
2,National Average,52,Rice - Retail,5,KG,5,2013,50,0.2,4.4920
3,National Average,52,Rice - Retail,5,KG,6,2013,50,0.2,4.5786
4,National Average,52,Rice - Retail,5,KG,11,2013,50,0.2,4.7865
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,0.2,49.1176
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,0.2,50.8347
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,0.2,51.7985
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,0.2,51.6071
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000

Xóa dòng df.drop(cs, axis=0, inplace = True/False)

In [66]:
data = df.drop(7383, axis=0)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Chiết khấu (%),Giá
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,0.2,50.0000
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,10,0.2,50.0000
2,National Average,52,Rice - Retail,5,KG,5,2013,50,0.2,4.4920
3,National Average,52,Rice - Retail,5,KG,6,2013,50,0.2,4.5786
4,National Average,52,Rice - Retail,5,KG,11,2013,50,0.2,4.7865
...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,0.2,47.9040
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,0.2,49.1176
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,0.2,50.8347
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,0.2,51.7985
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,0.2,51.6071

XÓA NHIỀU DÒNG HAY NHIỀU CỘT THÌ DÙNG [...]