In [1]:
import pandas as pd
df=pd.read_csv(filepath_or_buffer = 'C:\\Users\\hungu\\Jupyter baitap\\DATA\\DA - Datasets\\FoodPrice_in_Turkey.csv', sep = ',')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [2]:
df.to_csv('C:\\Users\\hungu\\Jupyter baitap\\demo_FoodPrice.csv')

In [3]:
df.to_excel('C:\\Users\\hungu\\Jupyter baitap\\demo_FoodPrice.xlsx')

In [4]:
df.to_json('C:\\Users\\hungu\\Jupyter baitap\\demo_FoodPrice.json',orient='columns')

In [5]:
df.to_html('C:\\Users\\hungu\\Jupyter baitap\\demo_FoodPrice.html')