In [2]:
# Khai báo thư viện
import pandas as pd
import numpy as np
print('Khai báo thư viện thành công')

Khai báo thư viện thành công

In [3]:
# Nhập dữ liệu
data = pd.read_csv('C:\\Users\\hungu\\Jupyter baitap\\DATA\\DA - Datasets\\FoodPrice_in_Turkey.csv',
                   header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
# data2 = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# display(data2)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [11]:
data.to_csv('second_time_FoodPrice.csv') #Khuyến cáo nên lưu ra file csv

In [5]:
data.info() #.info() method, hàm
# data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [6]:
#Xác định số dòng và số cột của dữ liệu
print(data.shape) # shape là property, tính chất, thuộc tính
#Số cột
print(data.shape[0])
#Số hàng
print(data.shape[1])

(7381, 8)
7381
8

In [7]:
# Xác định tên các cột
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

## Đổi tên cột

In [30]:
# Việt hóa tên các cột
# Đổi tên chỉ 1 cột xác định
# data.rename(columns = {'Place':'Địa điểm'}, inplace=True)

# Đổi tên chỉ 1 vài cột xác định
# data.rename(columns = {'ProductId':'Mã sản phẩm', 'ProductName':'Tên sản phẩm'}, inplace=True)
# data.rename(columns = {'UmId':'Số lượng', 'UmName':'Tên đơn vị'}, inplace=False) #Bảng data không thay đổi

# Đổi tên toàn bộ các cột (Yêu cầu liệt kê đầy đủ tên cột mới và theo đúng thứ tự)
data.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên đơn vị', 'Tháng', 'Năm', 'Giá'] #Phải đủ số lượng tên các cột

data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

## Thêm cột vào bảng đã có

In [31]:
# Thêm cột mới vào sau cuối
data['tên cột mới'] = np.NaN
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [32]:
# Chèn thêm cột 'Chiết khấu' vào sau cột 'Giá'
data.insert(8,'Chiết khấu (%)', 20)
display(data)
# data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,NaN

In [33]:
# Thêm 1 cột tên là "số lượng" nằm trước cột Giá, giá trị toàn bộ là 50
data.insert(7,'Số lượng',50)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [34]:
# Đổi tên "Tên cột mới" thành "Tổng" và có giá trị là giá*số lượng*(100%-chiết khấu)
# gợi ý: data['A'] = data[B]*C*(100-D)/100
data.rename(columns = {'tên cột mới':'tổng'}, inplace=True)
data['tổng'] = data['Giá'] * data['Số lượng'] * (100-data['Chiết khấu (%)'])/100
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [13]:
data.shape[0]

7381

## Thêm 1 dòng mới vào cuối bảng
### df.loc[cs]=[....]
df.loc[df.shape[0]] = [....]

In [14]:
# Sai lầm
# data.loc[data.shape[0]]= ['Sài Gòn','3000','Dưa hấu','5','KG','10','6','2022','50.000','0','NaN']
# Chuẩn
data.loc[data.shape[0]]= ['Sài Gòn',3000,'Dưa hấu',5,'KG',10, 2022, 50,50.000,10,np.NaN]
display (data)
# data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

### Thêm 1 dòng mới vào đầu bảng

In [15]:
# Thêm 1 dòng mới vào đầu bảng
data.loc[-1]= ['Hà Nội',3001,'Cốm làng Vòng',5,'KG',10,2022,20, 50.000,30,np.NaN]
# Update index của bảng
data.index = data.index + 1
# Sắp xếp lại bảng
data = data.sort_index()
display(data)
# data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
2,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

### Thêm 1 dòng mới vào vị trí bất kỳ

In [16]:
#Cách 1: Swap giá trị các dòng
data.loc[-1] = data.loc[0]
data.loc[0] = ['Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',10,2022,20, 100.000,10,np.NaN]
data.index = data.index +1
data = data.sort_index()

In [17]:
# Cách 2: Chèn thêm ở vị trí trung gian
# Chèn thêm dòng ở vị trí bất kỳ, ví dụ 0.5
data.loc[0.5]= ['Đà Nẫng',3002,'Mì quảng',5,'tô',10,9,2022,100.000,20,np.NaN]

#Sắp xếp lại các hàng theo đúng thứ tự từ nhỏ tới lớn và theo số tự nhiên
data = data.sort_index().reset_index(drop=True)

display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

## Xóa cột

## Xóa cột sử dụng lệnh del
### del df['Tên cột cần xóa']

In [18]:
# Xóa cột sử dụng del
data2 = data
print('Data2 sau khi tạo')
display(data2)
# Xóa cột 'cột mới' (xóa ngay trên bảng gốc) -> Nguy hiểm, hạn chế dùng
del data2['tổng']
print('Data2 sau khi xóa')
display(data2)
print('Data sau khi xóa')
display(data)

Data2 sau khi tạo

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

Data2 sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

Data sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

## Xóa cột sử dụng hàm pop()
### df.pop('Tên cột cần xóa')

In [19]:
# Xóa cột sử dụng pop()
data3 = data
print('Data3 sau khi tạo')
display(data3)
# Xóa cột 'cột mới' (xóa ngay trên bảng gốc) -> hạn chế dùng
data4 = data3.pop('Chiết khấu (%)') #-> kết quả là cột cần xóa
print('Data3 sau khi xóa')
display(data3)
print('Data sau khi xóa')
display(data)
print('Data4')
display(data4)

Data3 sau khi tạo

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

Data3 sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786
...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000

Data sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786
...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000

Data4

0       30
1       20
2       10
3       20
4       20
        ..
7380    20
7381    20
7382    20
7383    20
7384    10
Name: Chiết khấu (%), Length: 7385, dtype: int64

## Xóa cột sử dụng hàm drop()
### df.drop('Tên cột cần xóa’, axis=1, inplace=True/False)
axis = 1 nghĩa là xóa cột
inplace = True -> xóa cả dữ liệu gốc = del, pop()
inplace = False -> dữ lại nguyên vẹn dữ liệu gốc (mặc định)

In [20]:
# Xóa cột sử dụng drop()
data4 = data
print('Data4')
display(data4)
# Xóa cột 'cột mới' (không xóa trực tiếp trên bảng gốc) -> nên dùng
data5 = data4.drop('Số lượng', axis=1, inplace=False)  #-> lấy kết quả trả về
# data5 = data4.drop('Số lượng', axis=1, inplace=True)  #-> không trả về kết quả mà cột bị xóa trực tiếp trên bảng gốc
print('Data4 sau khi xóa')
display(data4)
print('Data5')
display(data5)
print('Data gốc')
display(data)

Data4

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786
...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000

Data4 sau khi xóa

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786
...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000

Data5

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,50.0000
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,100.0000
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,100.0000
3,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
4,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50.0000

Data gốc

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786
...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000

## Xóa nhiều cột sử dụng hàm drop()
### df.drop(['Tên cột cần xóa1',…, 'Tên cột cần xóa n'], axis=1, inplace=True/False)

In [23]:
# Xóa cột 'cột mới' và cột 'số lượng'
data6 = data.drop(['Chiết khấu (%)', 'Số lượng'], axis=1)
print('Data6')
display(data6)
print('Data gốc')
display(data)

KeyError: "['Chiết khấu (%)', 'Số lượng'] not found in axis"

## Xóa dòng sử dụng hàm drop()
### df.drop(cs, axis=0, inplace=True/False)
axis = 0 -> xóa dòng
cs là index của dòng đấy

In [ ]:
#Xóa dòng cuối cùng
data6 = data.drop(data.shape[0]-1, axis=0)
print("Data6")
display(data6)

In [103]:
# Xóa dòng đầu tiên của bảng
data7 = data.drop(0, axis=0) #-> xóa đi và không reset lại index
display(data)
display(data7)
# data7.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
5,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

## Xóa nhiều dòng sử dụng hàm drop()
### df.drop([cs1,…,csn], axis=0, inplace=True)

In [95]:
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẫng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

In [96]:
# Xóa dòng thứ Đà Nẵng, Hà Nội và Sài Gòn
data8 = data.drop([0,1,7383], axis=0)
data8

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),tổng
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
5,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
6,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [4]:
data.pivot_table(values='Price',index='ProductName',columns='Year',aggfunc='mean')

Year,2013,2014,2015,2016,2017,2018,2019
ProductName,,,,,,,
Apples (red) - Retail,2.080950,2.410118,2.401417,2.428333,2.560000,NaN,NaN
Apples - Retail,NaN,NaN,NaN,NaN,3.334175,3.923417,4.259810
Bananas - Retail,4.002225,4.962827,5.368833,5.914167,7.313738,8.701475,10.879371
Beans (white) - Retail,6.932800,9.484309,7.288333,6.949167,9.217700,9.242844,11.658690
Bread (common) - Retail,2.853000,3.069491,2.982917,3.373333,4.178841,4.740619,5.513271
Bread (pita) - Retail,NaN,NaN,2.311429,2.440000,2.480000,NaN,NaN
Bulgur - Retail,2.405025,2.593791,2.680500,2.765833,3.293874,3.546027,4.369369
Cabbage - Retail,1.104800,1.073233,1.197000,1.375714,1.589495,1.751664,2.232738
Cauliflower - Retail,2.046950,2.129317,2.772800,2.655714,2.878481,3.237750,4.326537
Cheese - Retail,NaN,NaN,15.421429,15.490833,24.425554,27.905196,28.013267
Chickpeas - Retail,5.918450,5.815827,5.665250,7.765000,13.577754,12.243981,9.051525
Cocoa (powder) - Retail,37.795150,38.134264,36.657917,36.696667,43.299851,45.214012,48.160994
Coffee (instant) - Retail,39.954750,36.359891,29.626917,35.796667,45.395493,50.388579,42.705810
Coffee - Retail,30.890625,31.261200,34.499917,36.154167,42.082349,44.706650,47.646450
Cucumbers (greenhouse) - Retail,1.737400,1.936482,1.977083,2.298333,4.376667,NaN,NaN
Cucumbers - Retail,NaN,NaN,NaN,NaN,2.902958,3.180702,4.023225
Eggplants - Retail,NaN,NaN,1.917143,2.550000,3.543931,3.641333,5.018958
Eggs - Retail,0.310175,0.350036,0.352250,0.361667,0.480056,0.609846,0.549542
Electricity - Retail,NaN,NaN,NaN,NaN,0.411850,0.502633,0.600825
Fish (fresh) - Retail,13.461625,14.228209,14.089750,15.066667,20.882454,24.301085,29.341567
Fuel (gas) - Retail,NaN,NaN,63.548571,64.800000,77.366069,88.545933,92.551890
Fuel (petrol-gasoline) - Retail,NaN,NaN,4.590000,4.535000,5.291772,6.253287,15.211690
Garlic - Retail,8.143075,8.758027,10.943750,14.851667,14.835772,13.024994,25.999040
Groundnuts (shelled) - Retail,12.605350,12.779155,17.512000,17.527500,19.470874,21.036458,29.546023
Lentils - Retail,3.452275,4.467318,5.786250,6.957500,7.807254,6.684435,6.587621
Meat (chicken) - Retail,6.677175,7.224882,7.024250,7.434167,8.890931,9.954510,12.097452
Meat (mutton) - Retail,25.609925,26.065691,27.004750,31.058333,43.883523,51.335848,55.530354
Meat (veal) - Retail,25.021700,27.711155,33.118250,37.070833,41.791177,43.621363,46.047448
Milk (pasteurized) - Retail,2.379750,2.643636,2.817833,2.907500,3.168628,4.080617,4.448258
"Milk (powder, infant formula) - Retail",NaN,NaN,63.757143,70.695833,85.364697,123.919679,127.172654
Oil (olive) - Retail,10.615950,12.710382,21.570500,27.822500,29.237797,30.880817,28.087996
Oil (sunflower) - Retail,6.082575,6.159518,8.214250,7.721667,8.173803,9.042829,10.151044
Onions - Retail,1.064950,1.088882,1.375250,1.481667,1.276641,2.564400,3.108898
Oranges - Retail,3.792200,1.630714,1.712429,1.621250,2.852100,2.982422,4.339036
Pasta - Retail,2.370975,2.687491,2.944917,2.995833,3.160313,3.494312,4.314592
"Peas (green, dry) - Retail",2.385100,3.015000,3.166667,NaN,NaN,NaN,NaN
Potatoes - Retail,NaN,NaN,1.538571,1.094167,1.636687,2.442390,3.100167
Rice - Retail,4.747700,6.367855,6.426833,6.047500,7.164792,8.640444,9.384565
Salt - Retail,1.434225,1.462836,1.516083,1.666667,1.998374,2.232254,2.318398
Spinach - Retail,NaN,NaN,2.660000,2.292857,2.642886,2.802390,4.477733
Sugar - Retail,3.554150,3.783709,3.852667,4.175833,4.277897,4.655442,4.949027
Tea (green) - Retail,3.590825,3.897700,4.084667,4.460000,4.660000,NaN,NaN
Tea (herbal) - Retail,NaN,NaN,NaN,NaN,5.016853,5.838017,5.345148
Tea - Retail,14.152900,16.543309,19.870750,22.537500,27.112123,28.601408,28.860771
Tomatoes (paste) - Retail,NaN,NaN,6.771429,6.479167,5.839510,7.688948,10.898944
Tomatoes - Retail,1.833025,1.936864,1.927667,1.914167,3.012379,3.897779,4.399598
Transport (public) - Retail,NaN,NaN,NaN,NaN,2.569043,2.425712,2.436694
"Wage (non-qualified labour, non-agricultural) - Retail",NaN,NaN,33.100000,43.330000,46.800000,NaN,NaN
Water - Retail,NaN,NaN,NaN,NaN,5.052814,5.826585,5.190500
Wheat flour - Retail,2.255350,2.565082,2.672583,2.848333,3.132718,3.405498,3.685917
Yogurt - Retail,NaN,NaN,3.984286,3.935833,4.783010,5.804490,5.956696
Zucchini - Retail,NaN,NaN,NaN,NaN,3.477094,3.656315,4.288779